<%- page_title Rails.configuration.settings.attributes[:edit_license] %>

<div class="module">
    <div class="module-head module-small">
        <%= link_to @model_many, licenses_path, data: { turbolinks: false } %>
        <%= link_to @license.name.truncate(70, separator: ' '), license_path %>
        <%= link_to Rails.configuration.settings.attributes[:edit_license] %>
    </div>
</div>

<%= render "alert" %>

<div class="module">
    <div class="module-head">
        <h2><%= link_to @license.name, license_path %></h2>
    </div>

    <%= render "form", license: @license %>
</div>
