<%- page_title @page_title %>

<div class="RRow mb-8">
    <div class="RCol" style="flex-grow: 0;">
        <span class="troy--text parmigiano">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore velit consectetur laboriosam suscipit saepe enim nobis optio. Architecto, voluptas ab.
        </span>
    </div>
</div>

<div class="RRow mb-8">
    <div class="RCol">

        <%= render"components/tabs", link: [licenses_path, new_license_path], title: [@model_many, I18n.t("attr.license.create")]  %>

    </div>
</div>

<div class="RRow mb-4 ">
    <div class="RCol custom cols-widest-12 cols-wide-12 cols-middle-6 cols-narrow-6">
        <span class="taleggio"><%= I18n.t("attr.license.list") %></span>
    </div>
</div>

<div class="module">
    <div class="module-head">
        <h2><%= @model_many %></h2>
    </div>
    <div class="module-body table">
        <table id="dttb" class="hover table-bordered cell-border">
            <thead>
                <tr>
                    <th style="text-align: center;">№</th>
                    <th><%= t(License.human_attribute_name :name) %></th>
                    <th><%= t(License.human_attribute_name :created_at) %></th>
                    <th><%= t(License.human_attribute_name :begin) %></th>
                    <th><%= t(License.human_attribute_name :ending) %></th>
                    <th><%= t(License.human_attribute_name :updated_at) %></th>
                    <th><%= t(License.human_attribute_name :user_id) %></th>
                    <th><%= t(License.human_attribute_name :status) %></th>
                    <th><%= t(License.human_attribute_name :file_license) %></th>
                </tr>
            </thead>
            <tbody>
                <% if current_user.admin? %>
                    <% @licenses.each_with_index do |license, index| %>
                        <tr>
                            <td style="text-align: center;"><%= index + 1 %></td>
                            <td><%= link_to license.name, license_path(license) %></td>
                            <td><%= l(license.created_at, format: :long) %></td>
                            <td><%= l(license.begin, format: :long) %></td>
                            <td><%= l(license.ending, format: :long) %></td>
                            <td><%= l(license.updated_at, format: :long) %></td>
                            <td><%= link_to User.find_by(id: license.user_id).name, user_path(license.user_id) %></td>
                            <td>
                                <b><%= license.status %></b>
                            </td>
                            <td>
                                <% if license.file_license.attached?%>
                                    <%= link_to license.file_license.filename, rails_blob_path(license.file_license, disposition: 'attachment') %>
                                    <span class="file-size"><%= number_to_human_size(license.file_license.byte_size) %></span>   
                                <% end %>
                            </td>
                        </tr>
                    <% end %>
                <% else %>
                    <% @licenses.where(user_id: current_user.name).each_with_index do |license, index| %>
                        <tr>
                            <td style="text-align: center;"><%= index + 1 %></td>
                            <td><%= link_to license.name, license_path(license) %></td>
                            <td><%= l(license.created_at, format: :long) %></td>
                            <td><%= l(license.begin, format: :long) %></td>
                            <td><%= l(license.ending, format: :long) %></td>
                            <td><%= l(license.updated_at, format: :long) %></td>
                            <td><%= link_to license.user_id, dashboard_path %></td>
                            <td>
                                <b><%= license.status %></b>
                            </td>
                            <td>
                                <% if license.file_license.attached?%>
                                    <%= link_to license.file_license.filename, rails_blob_path(license.file_license, disposition: 'attachment') %>
                                    <span class="file-size"><%= number_to_human_size(license.file_license.byte_size) %></span>                                 
                                <% end %>
                            </td>
                        </tr>
                    <% end %>

                <% end %>
            </tbody>
        </table>
    </div>
</div>
