<%- page_title @license.name.truncate(70, separator: ' ') %>

<div class="module">
    <div class="module-head module-small">
        <%= link_to @model_many, licenses_path %>
        <%= content_tag("a", @license.name.truncate(70, separator: ' ')) %>
    </div>
</div>

<div class="module">
    <div class="module-head">
        <h2><%= @license.name %></h2>
        <% if @license.created_at == @license.updated_at %>
            <span>изменений нет</span>
        <% else %>
            <span>изменено:
                <%= l(@license.updated_at, format: :long) %></span>
        <% end %>
        <% if current_user.admin? %>
            <%= link_to edit_license_path(@license), title: "Редактровать", class: "right" %>
        <% end %>

    </div>
    <div class="module-body">
        <div class="control-group">
            <%= label_tag nil, t(License.human_attribute_name :name), class: 'control-label' %>
            <div class="controls">
                <div class="control-label text">
                    <%= @license.name %>
                </div>
            </div>
        </div>
        <div class="control-group">
            <%= label_tag nil, t(License.human_attribute_name :reg_number), class: 'control-label' %>
            <div class="controls">
                <div class="control-label text">
                    <%= @license.reg_number %>
                </div>
            </div>
        </div>
        <div class="control-group">
            <%= label_tag nil, t(License.human_attribute_name :issued), class: 'control-label' %>
            <div class="controls">
                <div class="control-label text">
                    <%= @license.issued %>
                </div>
            </div>
        </div>
        <div class="control-group">
            <%= label_tag nil, t(License.human_attribute_name :series), class: 'control-label' %>
            <div class="controls">
                <div class="control-label text">
                    <%= @license.series.to_s %>
                </div>
            </div>
        </div>
        <div class="control-group">
            <%= label_tag nil, t(License.human_attribute_name :content), class: 'control-label' %>
            <div class="controls">
                <div class="control-label text">
                    <%= @license.content %>
                </div>
            </div>
        </div>
        <div class="control-group">
            <%= label_tag nil, t(License.human_attribute_name :begin), class: 'control-label' %>
            <div class="controls">
                <div class="control-label text">
                    <%= l(@license.begin, format: :long) %>
                </div>
            </div>
        </div>
        <div class="control-group">
            <%= label_tag nil, t(License.human_attribute_name :ending), class: 'control-label' %>
            <div class="controls">
                <div class="control-label text">
                    <%= l(@license.ending, format: :long) %>
                </div>
            </div>
        </div>
        <div class="control-group">
            <%= label_tag nil, t(License.human_attribute_name :user_id), class: 'control-label' %>
            <div class="controls">
                <div class="control-label text">
                    <%= @license.user_id %>
                </div>
            </div>
        </div>
        <div class="control-group">
            <%= label_tag nil, t(License.human_attribute_name :remark), class: 'control-label' %>
            <div class="controls">
                <div class="control-label text">
                    <%= @license.remark %>
                </div>
            </div>
        </div>
        <% if @license.file_license.attached?%>
            <div class="control-group">
                <%= label_tag nil, t(License.human_attribute_name :file_license), class: 'control-label' %>
                <div class="controls">
                    <div class="control-label text">
                        <%= link_to @license.file_license.filename, rails_blob_path(@license.file_license, disposition: 'attachment') %>
                        <span>
                            <%= number_to_human_size(@license.file_license.byte_size) %>
                        </span>
                    </div>
                </div>
            </div>
        <% end %>
        <div class="control-group">
            <%= label_tag nil, t(License.human_attribute_name :status), class: 'control-label' %>
            <div class="controls">
                <div class="control-label text">
                    <%= @license.status %>
                </div>
            </div>
        </div>
        <% if current_user.admin? %>
            <div class="control-group">
                <div class="controls">
                    <div class="control-label text">
                        <%= button_to " Удалить", license_path(@license), 
                        method: :delete, 
                        form: {data: {turbo_confirm: "Вы точно хотите удалить лицензию?" }}, 
                        class: "button text-alert" %>
                    </div>
                </div>
            </div>
        <% end %>

    </div>
</div>
