<% if message.user_id == user.id %>
    <% float = "right" %>
<% else %>
    <% float = "left" %>
<% end %>

<div class="message-container <%= dom_id(message) %> author_<%= message.user.id %>" data-controller="message" data-search-loading-class data-message-mine-class="mine" data-message-owner-id-value="<%= message.user.id %>">
    <div class="module <%= float %> module-message" style="text-align: <%= float %> !important; margin-<%= float %>: 10px;">
        <div class="module-body">
            <div class="message-name"><%= message.user.name %></div>
            <div class="message-text text"><%= message.body %></div>

            <div class="message-date"><%= l(message.created_at, format: :short) %></div>
            <%= float %>
        </div>
    </div>
</div>
