<button tabindex="0" class="RButton <%= type %> <%= size %> <%= color %> <%= width %>" type="submit">
    <div class="RButton__content">
        <% if !icon.nil? %>
            <i class="RIcon rir-active-><%= icon %>_16 RButton__icon"></i>
        <% end %>
        <div class="RButton__title"><%= title %></div>
    </div>
</button>
