<label class="RInput <%= type %> <%= size %> <%= @error_status %> readonly <%= "rounded" if rounded %>">
    <div class="RInput__body is-label">
        <label tabindex="0" class="RInput__input">
            <% if form_type == "text" %>
                <%= form.text_field form_attr, maxlength: (maxlength if !maxlength.nil?), autocomplete: autocomplete %>
            <% end%>
            <% if form_type == "password" %>
                <%= form.password_field form_attr, maxlength: (maxlength if !maxlength.nil?), value: (SecureRandom.hex(4) if rand), autocomplete: autocomplete %>
            <% end%>
            <% if form_type == "email" %>
                <%= form.email_field form_attr, maxlength: (maxlength if !maxlength.nil?), autocomplete: autocomplete %>
            <% end%>
            <%= form.label form_attr, class: "RInput__label" %>
        </label>
    </div>
    <% if !aftericon.nil?%>
        <a class="RInput__after events">
            <i class="RIcon rir-<%= aftericon %>_16"></i>
        </a>
    <% end %>

    <% if !beforeicon.nil?%>
        <a class="RInput__before">
            <i class="RIcon rir-<%= beforeicon %>_16"></i>
        </a>
    <% end %>

</label>
