<%= form_with model: @user, url: url, data: {turbo: false} do |form|%>
<div class="RRow">
    <div class="RCol custom cols-widest-6 cols-wide-6 cols-middle-6 cols-narrow-6">
        <%= render "components/input", form: form, controller: @user, form_attr: :full_name, attr: "full_name", form_type: "text", type: "default", size: "eluno", beforeicon: nil, aftericon: nil, maxlength: nil, rounded: false, readonly: false, rand: false, iserror: true, autocomplete: "new-password" %>
    </div>
    <div class="RCol custom cols-widest-6 cols-wide-6 cols-middle-6 cols-narrow-6">
        <%= render "components/input", form: form, controller: @user, form_attr: :login, attr: "login", form_type: "text", type: "default", size: "eluno", beforeicon: nil, aftericon: nil, maxlength: nil, rounded: false, readonly: false, rand: false, iserror: true, autocomplete: "new-password" %>
    </div>
    <div class="RCol custom cols-widest-6 cols-wide-6 cols-middle-6 cols-narrow-6">
        <%= render "components/input", form: form, controller: @user, form_attr: :password, attr: "password", form_type: "password",  type: "default", size: "eluno", beforeicon: nil, aftericon: "eye", maxlength: 8, rounded: false, readonly: false, rand: false, iserror: true, autocomplete: "new-password" %>
    </div>
    <div class="RCol custom cols-widest-6 cols-wide-6 cols-middle-6 cols-narrow-6">
        <%= render "components/input", form: form, controller: @user, form_attr: :post, attr: "post", form_type: "text", type: "default", size: "eluno", beforeicon: nil, aftericon: nil, maxlength: nil, rounded: false, readonly: false, rand: false, iserror: true, autocomplete: "new-password" %>
    </div>
    <div class="RCol custom cols-widest-6 cols-wide-6 cols-middle-6 cols-narrow-6">
        <div class="RSelect">
            <label class="RSelect__input">
                <%= render "components/input", form: form, controller: @user, form_attr: :department_id, attr: "department_id", form_type: "text", type: "default", size: "eluno", beforeicon: nil, aftericon: "arrow-down", maxlength: nil, rounded: false, readonly: true, rand: false, iserror: true, autocomplete: "new-password" %>
            </label>
            <%= render "components/select", form: form, controller: @user, form_attr: :department_id, attr: "department_id", type: "default", data: Department.all %>
        </div>
    </div>
    <div class="RCol custom cols-widest-6 cols-wide-6 cols-middle-6 cols-narrow-6">
        <%= render "components/checkbox", form: form, controller: @user, form_attr: :admin, attr: "admin" %>
    </div>
    <div class="RCol custom cols-widest-6 cols-wide-6 cols-middle-6 cols-narrow-6">
        <%= render "components/button", type: "primary", size: "helike", width: "content", color: "rocky", icon: nil, disabled: false, title: I18n.t("action.save") %>
    </div>
</div><% end %>
