<%- page_title @page_title %>

<div class="RRow mb-8">
    <div class="RCol" style="flex-grow: 0;">
        <span class="troy--text parmigiano">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore velit consectetur laboriosam suscipit saepe enim nobis optio. Architecto, voluptas ab.
        </span>
    </div>
</div>

<div class="RRow mb-8">
    <div class="RCol">

        <%= render"components/tabs", link: [users_path, new_user_path], title: [@model_many, I18n.t("attr.user.create")]  %>

    </div>
</div>

<div  class="RRow mb-4 ">
    <div  class="RCol custom cols-widest-12 cols-wide-12 cols-middle-6 cols-narrow-6">
        <span  class="taleggio"><%= I18n.t("attr.user.list") %></span>
    </div>
</div>

<div class="RRow">
    <div class="RCol">
        <table class="RTable creusa">
            <thead class="trainspotting--bg">
                <tr>
                    <%for attr in @human_att do %>
                        <%= render"components/table_item", title: attr %>
                    <% end %>
                </tr>
            </thead>
            <tbody>
                <% @users.each do |user| %>
                    <tr>
                        <td>
                            <div class="RTable__row">
                                <%= link_to user_path(user.login) do %>
                                    <%= render "components/button_action", title: user.full_name, color: "rocky", size: "sulguni", icon: nil %>
                                <% end %>
                            </div>
                        </td>
                        <td>
                            <div class="RTable__row"><%= user.login %></div>
                        </td>
                        <td>
                            <div class="RTable__row"><%= user.post %></div>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
