<%- page_title @page_title %>

<div class="RRow mb-8">
    <div class="RCol" style="flex-grow: 0;">
        <span class="troy--text parmigiano">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore velit consectetur laboriosam suscipit saepe enim nobis optio. Architecto, voluptas ab.
        </span>
    </div>
</div>

<div class="RRow mb-8">
    <div class="RCol">
        <%= render"components/tabs", link: [user_path(@user.login), edit_user_path(@user.login)], title: [@model_one, I18n.t("attr.user.edit")]  %>
    </div>
</div>

<div class="RRow mb-4 ">
    <div class="RCol custom cols-widest-12 cols-wide-12 cols-middle-6 cols-narrow-6">
        <span class="taleggio"><%= I18n.t("attr.user.data") %></span>
    </div>
</div>

<div class="RRow">
    <div class="RCol custom cols-widest-8 cols-wide-10 cols-middle-6 cols-narrow-6">
        <div class="RRow">
            <div class="RCol custom cols-widest-6 cols-wide-6 cols-middle-6 cols-narrow-6">
                <%= render "components/input_readonly", value: @user.full_name, attr: :full_name, label_name: I18n.t("attr.user.post"), form_type: "text", type: "default", size: "eluno", beforeicon: nil, aftericon: nil, rounded: false %>
            </div>
            <div class="RCol custom cols-widest-6 cols-wide-6 cols-middle-6 cols-narrow-6">
                <%= render "components/input_readonly", value: @user.login, attr: :login, label_name: I18n.t("attr.user.login"), form_type: "text", type: "default", size: "eluno", beforeicon: nil, aftericon: nil, rounded: false %>
            </div>
            <div class="RCol custom cols-widest-6 cols-wide-6 cols-middle-6 cols-narrow-6">
                <%= render "components/input_readonly", value: @user.post, attr: :post, label_name: I18n.t("attr.user.post"), form_type: "text", type: "default", size: "eluno", beforeicon: nil, aftericon: nil, rounded: false %>
            </div>
            <div class="RCol custom cols-widest-6 cols-wide-6 cols-middle-6 cols-narrow-6">
                <%= render "components/input_readonly", value: @user.department.try(:name), attr: :department_id, label_name: I18n.t("attr.user.department_id"), form_type: "text", type: "default", size: "eluno", beforeicon: nil, aftericon: nil, rounded: false %>
            </div>
            <div class="RCol custom cols-widest-6 cols-wide-6 cols-middle-6 cols-narrow-6">
                <%= button_to user_path(@user.login), 
                        method: :delete, 
                        form: {data: {turbo_confirm: I18n.t("notices.confirm.delete") }}, 
                        class: "hidden" do %>
                    <%= render "components/button", type: "primary", size: "helike", width: "content", color: "fargo", icon: "delete", disabled: false, title: I18n.t("action.delete") %>
                <% end %>
            </div>
        </div>
    </div>
</div>
