<%- page_title @page_title %>

<div class="RRow mb-8">
    <div class="RCol" style="flex-grow: 0;">
        <span class="troy--text parmigiano">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore velit consectetur laboriosam suscipit saepe enim nobis optio. Architecto, voluptas ab.
        </span>
    </div>
</div>

<div class="RRow mb-8">
    <div class="RCol">
        <%= render"components/tabs", link: [user_path(@user.login), edit_user_path(@user.login)], title: [@model_one, I18n.t("attr.user.edit")]  %>
    </div>
</div>

<div class="RRow mb-4 ">
    <div class="RCol custom cols-widest-12 cols-wide-12 cols-middle-6 cols-narrow-6">
        <span class="taleggio"><%= I18n.t("attr.user.list") %></span>
    </div>
</div>



<div class="module">
    <div class="module-head">
        <h2 class="left"><%= @user.full_name.humanize %></h2>
        <%= link_to edit_user_path(@user), title: "Редактровать", class: "right edit-fa" %>


    </div>
    <div class="module-body">
        <div class="control-group">
            <%= label_tag nil, t(User.human_attribute_name :full_name), class: 'control-label' %>
            <div class="controls">
                <div class="control-label text">
                    <%= @user.full_name %>
                </div>
            </div>
        </div>
        <%= @user.department_id %>

        <div class="control-group">
            <div class="controls">
                <div class="control-label text">
                    <%= button_to " Удалить", user_path(@user.login), 
                        method: :delete, 
                        form: {data: {turbo_confirm: "Вы точно хотите удалить пользователя?" }}, 
                        class: "button text-alert" %>
                </div>
            </div>
        </div>
    </div>
</div>

<%= render "components/datepicker"%>