<div class="RLayoutDashboard__head">
    <button tabindex="0" class="RButtonSimple RLayoutDashboard__hamburger monithei transparent harakiri">
        <i class="RIcon rir-menu_16"></i>
    </button>
    <div
        class="RLayoutDashboard__meta">
        <!--<div class="RLayoutDashboard__navigation">
                                <div class="gentlemen--text departed--bg d-flex align-items-center justify-content-center" style="height: 20px; width: 100%;"></div>
                        </div>-->
        <div class="RLayoutDashboard__title"><%= page_title %></div>
    </div>
    <%= link_to account_path do %>
        <section tabindex="0" class="RRadioButton">
            <%= render partial: "components/avatar", locals: {color: "nixilei", size: "aethelsa", title: nil }  %>
            <section class="RRadioButton__content ml-3">
                <span class="RRadioButton__title" style="-webkit-line-clamp: 1;"><%= current_user.name %></span>
                <span class="RRadioButton__sub-title"><%= current_user.admin ? "Администратор" : current_user.post %></span>
            </section>
        </section>
    <% end %>
</div>
