<div class="navbar">
    <div class="container">
        <div class="brand">
            <% begin %>
            <% if current_user.admin? %>
                <%= Rails.configuration.settings.logo[:logo_admin] %>
            <% else %>
                <%= Rails.configuration.settings.logo[:logo_user] %>
            <% end %>
            <% rescue %>
            <%= Rails.configuration.settings.logo[:logo_simple] %>
            <% end %>
        </div>
        <div>
            <% if current_user.present? %>
                <ul class="nav right">
                    <li>
                        <%= link_to rooms_path, class: "envelope-link" do %>
                            <%= fa_icon "envelope" %>
                        <% end %>
                    </li>
                    <li>
                        <%= link_to account_path, class: "nav-name" do %>
                            <b><%= "#{current_user.name}" %></b>
                            <br>
                                <span><%= "#{current_user.post}" %></span>
                        <% end %>
                    </li>
                    <li class="nav-user dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <% if current_user.admin? %>
                            <div class="nav-avatar avatar-admin">
                            <% else %>
                                <div class="nav-avatar avatar-user">
                                <% end %>
                                <div class="name"><%= short_name(current_user.name) %></div>
                            </div>
                            <%= fa_icon "chevron-down", class: "right" %>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <%= link_to Rails.configuration.settings.attributes[:account], account_path %>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <%= link_to Rails.configuration.settings.attributes[:settings], account_settings_path %>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <%= button_to Rails.configuration.settings.commands[:logout], session_path, method: :delete %>
                            </li>
                        </ul>
                    </li>
                </ul>
            <% end %>
        </div>
    </div>
</div>
