<% if flash[:success].present? %>
    <div id="notification" class="notification notification-success">
        <%= icon("fa-regular", "check-circle")%>
        <span><%= flash[:success] %></span>
    </div>
    <% elsif flash[:error].present?%>
    <div id="notification" class="notification notification-error">
        <%= icon("fa-regular", "exclamation-circle")%>
        <span><%= flash[:error] %></span>
    </div>
    <% elsif flash[:info].present?%>
    <div id="notification" class="notification notification-info">
        <%= icon("fa-regular", "info-circle")%>
        <span><%= flash[:info] %></span>
    </div>
<% end %>
