<div class="row-sm left">
    <div class="sidebar">
        <ul class="widget widget-menu">
            <li class="widget-menu-li">
                <a class="widget-menu-link">
                    <%= icon("fa-regular", "calendar", class: "menu-icon") %>
                    Ближайшиe
                    <%= icon('fa-regular', 'chevron-down', class: "right") %>
                </a>

                <ul class="widget-menu-data collapse">
                    <li>
                        <a class="widget-menu-link"><%= icon("fa-regular", "calendar", class: "menu-icon") %>Ближайшие</a>
                    </li>
                    <li>
                        <a class="widget-menu-link"><%= icon("fa-regular", "calendar", class: "menu-icon") %>Ближайшие</a>
                    </li>
                    <li>
                        <a class="widget-menu-link"><%= icon("fa-regular", "calendar", class: "menu-icon") %>Ближайшие</a>
                    </li>
                </ul>
            </li>
            <% if current_user.admin? %>
                <li class="widget-menu-li">
                    <a class="widget-menu-link">
                        <%= icon("fa-regular", "file", class: "menu-icon") %>
                        <%= t(License.model_name.human(count: :many)) %>
                        <%= icon('fa-regular', 'chevron-down', class: "right") %>
                    </a>
                    <ul class="widget-menu-data collapse">
                        <li>
                            <%= link_to licenses_path, class: "widget-menu-link" do %>
                                <%= icon("fa-regular", "file", class: "menu-icon") %>
                                <%= t(License.model_name.human(count: :many)) %>
                            <% end %>
                        </li>
                        <li>
                            <%= link_to new_license_path, class: "widget-menu-link" do %>
                                <%= icon("fa-regular", "file-text", class: "menu-icon") %>
                                <%= Rails.configuration.settings.attributes[:create_license] %>
                            <% end %>
                        </li>
                    </ul>
                </li>
                <li class="widget-menu-li">
                    <a class="widget-menu-link">
                        <%= icon("fa-regular", "file", class: "menu-icon") %>
                        <%= t(Order.model_name.human(count: :many)) %>
                        <%= icon('fa-regular', 'chevron-down', class: "right") %>
                    </a>
                    <ul class="widget-menu-data collapse">
                        <li>
                            <%= link_to orders_path, class: "widget-menu-link" do %>
                                <%= icon("fa-regular", "file", class: "menu-icon") %>
                                <%= t(Order.model_name.human(count: :many)) %>
                            <% end %>
                        </li>
                        <li>
                            <%= link_to new_order_path, class: "widget-menu-link" do %>
                                <%= icon("fa-regular", "file-text", class: "menu-icon") %>
                                <%= Rails.configuration.settings.attributes[:create_order] %>
                            <% end %>
                        </li>
                        <li>
                            <%= link_to orders_archive_path, class: "widget-menu-link" do %>
                                <%= icon("fa-regular", "box-archive", class: "menu-icon") %>
                                <%= Rails.configuration.settings.attributes[:archive_orders] %>
                            <% end %>
                        </li>
                    </ul>
                </li>
            <% else %>
                <li class="widget-menu-li">
                    <%= link_to licenses_path, class: "widget-menu-link" do %>
                        <%= icon("fa-regular", "files", class: "menu-icon") %>
                        <%= t(License.model_name.human(count: :many)) %>
                    <% end %>

                </li>
            <% end %>
        </ul>
        <% if current_user.admin? %>
            <ul class="widget widget-menu">
                <li class="widget-menu-li">
                    <a class="widget-menu-link">
                        <%= icon("fa-regular", "users", class: "menu-icon") %>
                        <%= t(User.model_name.human(count: :many)) %>
                        <%= icon('fa-regular', 'chevron-down', class: "right") %>
                    </a>
                    <ul class="widget-menu-data collapse">
                        <li>
                            <%= link_to users_path, class: "widget-menu-link" do %>
                                <%= icon("fa-regular","user-plus", class: "menu-icon") %>
                                <%= t(User.model_name.human(count: :many)) %>
                            <% end %>
                        </li>
                        <li>
                            <%= link_to new_user_path, class: "widget-menu-link" do %>
                                <%= icon("fa-regular","user-plus", class: "menu-icon") %>
                                <%= Rails.configuration.settings.attributes[:create_user] %>
                            <% end %>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="widget widget-menu">
                <li class="widget-menu-li">
                    <a class="widget-menu-link">
                        <%= icon("fa-regular", "users", class: "menu-icon") %>
                        <%= t(Department.model_name.human(count: :many)) %>
                        <%= icon('fa-regular', 'chevron-down', class: "right") %>
                    </a>
                    <ul class="widget-menu-data collapse">
                        <li>
                            <%= link_to departments_path, class: "widget-menu-link" do %>
                                <%= icon("fa-regular", "users", class: "menu-icon") %>
                                <%= t(Department.model_name.human(count: :many)) %>
                            <% end %>
                        </li>
                        <li>
                            <%= link_to new_department_path, class: "widget-menu-link" do %>
                                <%= icon("fa-regular","user-plus", class: "menu-icon") %>
                                <%= Rails.configuration.settings.attributes[:create_department] %>
                            <% end %>
                        </li>
                    </ul>
                </li>
            </ul>
        <% end %>
    </div>
</div>
