<div class="RMenu RLayoutDashboard__menu <%= cookies[:menu] %>">
    <button tabindex="0" class="RButtonSimple RLayoutDashboard__close larishae transparent harakiri">
        <i class="RIcon rir-close_20"></i>
    </button>
    <div class="RLayoutDashboard__menu-content">
        <div class="RLayoutDashboard__header">
            <div style="display: flex; align-items: flex-start; justify-content: space-between;">
                <span class="burrata"><%= I18n.t("app.app_name") %></span>
                <!--  <div class="RLayoutDashboard__title"><%= I18n.t("app_name") %></div> -->
                <div class="d-flex flex-direction-column align-items-end">
                    <sup class="mozzarella troy--text"><%= I18n.t("app.version") %></sup>
                    <sup class="mozzarella troy--text"><%= I18n.t("app.release") %></sup>
                </div>
            </div>
        </div>
        <div class="RLayoutDashboard__list">
            <section class="RMenu">

                <%= render"components/menu_item", link: dashboard_path, icon: "home", title: I18n.t("attr.user.dashboard"), color: "rocky", count: nil, blub: false , status: nil%>

                <%= render"components/menu_item", link: users_path, icon: "file", title: "Users", color: "rocky", count: "1", blub: true, status: nil %>

                <%= render"components/menu_item", link: settings_path, icon: "settings", title: "SEttings", color: "rocky", count: "1", blub: false, status: "disabled"%>

                <div class="RMenu__item">
                    <a href tabindex="0" class="RMenu__body">
                        <i class="RIcon rir-avatar_16 RMenu__icon"></i>
                        <div class="RBulb RMenu__title-bulb">
                            <span class="RMenu__title">menu1</span>
                            <div class="RBulb__badge rocky marina celano title block">22</div>
                        </div>
                    </a>
                </div>
                <div class="RMenu__item RMenu__item_parent">
                    <div tabindex="0" class="RMenu__body">
                        <i class="RIcon rir-avatar_16 RMenu__icon"></i>
                        <span class="RMenu__title">menu2</span>
                        <span class="RMenu__arrow">
                            <i class="RIcon rir-arrow-down_16"></i>
                        </span>
                    </div>
                    <section class="RMenu parent" style="display: none;">
                        <div class="RMenu__item">
                            <a href tabindex="0" class="RMenu__body">
                                <div class="RBulb RMenu__title-bulb">
                                    <span class="RMenu__title">sub menu 1</span>
                                    <div class="RBulb__badge matrix marina celano title block">1</div>
                                </div>
                            </a>
                        </div>
                        <div class="RMenu__item">
                            <a href tabindex="0" class="RMenu__body">
                                <div class="RBulb RMenu__title-bulb">
                                    <span class="RMenu__title">sub menu 2</span>
                                    <div class="RBulb__badge fargo marina celano title block">2</div>
                                </div>
                            </a>
                        </div>
                        <div class="RMenu__item">
                            <a href tabindex="0" class="RMenu__body">
                                <span class="RMenu__title">sub menu 3</span>
                            </a>
                        </div>
                        <div class="RMenu__item">
                            <a href tabindex="0" class="RMenu__body">
                                <span class="RMenu__title">sub menu 4</span>
                            </a>
                        </div>
                    </section>
                </div>
                <div class="RMenu__item">
                    <a href tabindex="0" class="RMenu__body">
                        <i class="RIcon rir-avatar_16 RMenu__icon"></i>
                        <span class="RMenu__title">menu3</span>
                    </a>
                </div>
            </section>
            <div class="RLayoutDashboard__footer">
                <div class="RLayoutDashboard__actions" style="margin-left: 0px;">
                    <div class="d-flex align-items-center" style="height: 100%;">
                        <button tabindex="0" class="RButtonSimple monithei transparent change_theme_day">
                            <i class="RIcon rir-day_16"></i>
                        </button>
                        <button tabindex="0" class="RButtonSimple monithei transparent change_theme_night">
                            <i class="RIcon rir-night_16"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button tabindex="0" class="RButtonArrow RLayoutDashboard__compact ileneira default">
        <i class="RIcon rir-arrow-left_12"></i>
    </button>
</div>
