<div class="module-body">
    <%= form_with model: @department, data: {turbo: false} do |form| %>
        <div class="control-group">
            <%= form.label :name, class: "control-label" %>
            <div class="controls">
                <%= form.text_field :name %>
            </div>
        </div>
        <div class="control-group">
            <%= form.label :code, class: "control-label" %>
            <div class="controls">
                <%= form.text_field :code %>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <%= form.submit class: "button"%>
            </div>
        </div>
    <% end %>
</div>
