<%- title @model_many %>

<div class="module">
    <div class="module-head">
        <h2>Roomsdfdfdfdfdffdfddfdf</h2>
    </div>
    <div class="module-body">
        <%= form_with model: @new_room do |form| %>
            <div class="control-group">
                <div class="controls">
                    <%= form.submit class: "button"%>
                </div>
            </div>
        <% end %>
    </div>
</div>
<div class="module">
    <div class="module-body">
        <%= turbo_stream_from :rooms %>
        <%= turbo_frame_tag :rooms do %>
            <%= render @rooms %>
        <% end %>
    </div>
</div>
