<div class="chat-container" id="room_<%= @room.id %>_messages" data-controller="room-channel" data-room-channel-id-value="<%= @room.title %>">
    <div class="chat-section">
        <%= turbo_stream_from @room %>
        <%= turbo_frame_tag :messages do %>
            <%= render partial: "messages/message", collection: @messages, locals: { user: current_user }  %>
        <% end %>
    </div>
</div>


<%= form_with model: @new_message, data: {controller: "chat-refresh", action: "turbo:submit-end->chat-refresh#clearInput"} do |form| %>
    <div class="control-group">
        <%= form.label :body, autofocus: true, required: true, class: "control-label" %>
        <div class="controls">
            <%= form.text_field :body %>
        </div>
    </div>
    <%= form.hidden_field :room_id, value: @room.id %>
    <div class="control-group">
        <div class="controls">
            <%= form.submit class: "button"%>
        </div>
    </div>
<% end %>
