<!DOCTYPE html>
<html>
    <head>
        <title><%= content_for?(:title) ? content_for(:title) : "ЦиФРА" %></title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="turbolinks-visit-control" content="reload">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
        <%= javascript_importmap_tags %>
        <script>
            document.querySelector('html').setAttribute("theme", localStorage.getItem('theme'));
        </script>
    </head>

    <body>
        <script>
            document.querySelector('body').classList.add(localStorage.getItem('breakpoint'));
        </script>
        <section class="RLayoutDashboard">
            <%= render "shared/notification" %>
            <% if !current_page?(root_url) %>
                <%= render "shared/sidebar" %>
            <% end %>
            <div class="RLayoutDashboard__body">
                <% if !current_page?(root_url) %>
                    <%= render "shared/header" %>
                <% end %>
                <script>
                    document.querySelector('.RMenu').classList.add(localStorage.getItem('menu'));
                </script>

                <div class="RLayoutDashboard__content offset">
                    <div class="pt-4">
                        <%= yield %>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
