<!DOCTYPE html>
<html theme=<%= cookies[:theme] %>>
    <head>
        <title><%= content_for?(:title) ? content_for(:title) : "ЦиФРА" %></title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="turbolinks-visit-control" content="reload">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
        <%= javascript_importmap_tags %>
    </head>

    <body class="widest">
        <section class="RLayoutDashboard">
            <%= render "shared/notification" %>
            <% if !current_page?(root_url) %>
                <%= render "shared/sidebar" %>
            <% end %>
            <div class="RLayoutDashboard__body">
                <% if !current_page?(root_url) %>
                    <%= render partial: "shared/header", locals: { page_title: @model_many}  %>
                <% end %>

                <div class="RLayoutDashboard__content offset">
                    <div class="pt-4">
                        <%= yield %>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
